<table align="center" width=100%>
    <tr>
        <td width="20%">
            <img src="New_GL_Logo.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=20px>
                    <b> Inclass-Lab  <br>(Day 4)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [16]:
def swap_list(val):
    x=len(val)
    y=val[0]
    val[0]=val[x-1]
    val[x-1]=y
    return val
my_list = [15, 78, 10, 45, 89]
swap_list(my_list)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# Write your code here
x=1204
y=344536
def add():
    print('Addition of two global numeric variables :' ,x+y)

In [6]:
add()

Addition of two global numeric variables : 345740

In [7]:
# Or
x=1204
y=344536
def add(x,y):
    z=x+y
    print(z)

In [8]:
add(x,y)

345740

In [10]:
#Or
x=1204
y=344536
def add():
    return(x+y)
add()

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
# Write your code here
def evenodd(x):
    if x%2==0:
        print("even")
    else:
        print("odd")

In [12]:
evenodd(33)

odd

In [15]:
#Or
x=33
def evenodd():
    if x%2==0:
        print(x, ':is even')
    else:
        print(x,': is odd')

In [16]:
evenodd()

33 : is odd

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [13]:
def factorial(num):
    x = 1
    for i in range(1, num+1):
        x = x*i
    return x
my_number = int(input('please enter a positive number: '))
print('the factorial of number:', factorial(my_number))

please enter a positive number: 3
the factorial of number: 6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
# Write your code here
def new_list(*items):
    l=[]
    l.append(items)
    return l

In [6]:
print(new_list(1,2,3))

[(1, 2, 3)]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [8]:
# Write your code here 
word1 = str(input('Enter a word :'))
word2 = str(input('Enter the second word :'))
def test():
    if word1[0]==word2[0]:
        return('Yes two words start with same charecter')
    else:
        return('No two words do not start with same charecter')
test()

Enter a word :Love
Enter the second word :Nature

'No two words do not start with same charecter'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [19]:
def vowelz(a):
        vowels = ["a", "e", "i", "o", "u",'A','E','I','O','U']
        vowel = False
        for vowell in vowels:
                if vowell in a:
                        vowel = True
        print (vowel)
vowelz(input("Enter a word:"))

Enter a word:Subrata
True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [1,2,3,3,11,34,3,3,4,5]

In [4]:
def unique_values(num):
   empty_list=[]
   for x in num:
       if x not in empty_list:
           empty_list.append(x)
   for x in empty_list:
      print(x)
my_list = [1,2,3,3,11,34,3,3,4,5]
unique_values(my_list)

1
2
3
11
34
4
5

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the strings given below:**<br>
string1 = 'Angel'<br>
string2 = 'apple'

In [72]:
def common_charecters(string1,string2):
    a= list(set(string1)&set(string2))
    for i in a:
        print(i)
string1 = 'Angel'
string2 = 'apple'
common_charecters(string1,string2)

l
e

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [14]:
def f(a,b):
    print('Addition :',a+b)
    print('Multiplication :',a*b)
    print('Subtraction :',a-b)
a=15
b=4
f(a,b)

Addition : 19
Multiplication : 60
Subtraction : 11

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [9]:
def sum_of_elements(list):
    x=0
    for i in list:
        x=x+i
    return x
my_list = [34, 34, 55, 2, 56, 45]
print('sum of my_list is :', sum_of_elements(my_list))

sum of my_list is : 226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
minimum = lambda x,y: x if x<y else y
minimum(34,78)

34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [6]:
number = (11, 21, 30, 34)
sqr_number = list(map(lambda x:x**2,number))
sqr_number

[121, 441, 900, 1156]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [7]:
sentence = 'Python for Data Science'
length_sentence = list(map(len,sentence.split()))
length_sentence

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [8]:
numbers = [ 74, 85, 14, 23 ]
rem_numbers = list(map(lambda x:x%5,numbers))
rem_numbers

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [43]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
concatenated_list = list(map(lambda x:x,list1+list2))
print(concatenated_list)

['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy', 11, 22, 33, 44, 55, 66, 77, 88, 99]

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [53]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
common_ele = list(filter(lambda x:x,(set(arr1) & set(arr2))))
common_ele

['t', 'o', 'i']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [16]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
even_numbers = list(filter(lambda x:x%2==0,numbers))
even_numbers

[110, 352, 278]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [55]:
 num_list = list(range(101))
from functools import reduce
reduce (lambda a,b:a+b ,num_list)

5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [59]:
my_list = [47,11,42,102,13]
from functools import reduce
reduce(lambda x,y:x if (x>y) else y , my_list)

102